/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #682009;
}

/* HEADER */
header {
  background-color: #963312;
  -webkit-box-shadow: 1px 1px 15px black;
          box-shadow: 1px 1px 15px black;
}

header .logo {
  height: 50px;
  margin-right: 20px;
}

header .nav-link {
  color: gainsboro;
  font-weight: bolder;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .nav-link:hover {
  text-shadow: 5px 5px 10px black;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  color: gainsboro;
}

/* MAIN */
.main-imagen {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6))), url("../archivos/logos/hero.webp");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6)), url("../archivos/logos/hero.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  margin: 20px 0px;
}

.main-imagen h1 {
  color: gainsboro;
  font-weight: bolder;
  margin: 0px auto;
  font-size: 50px;
  text-align: center;
}

.imagen {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 10px 10px 0px 0px;
}

.imagen:hover {
  width: 98%;
  margin-left: 1%;
}

.titulo-categoria {
  color: gainsboro;
  background-color: #963312;
  text-align: center;
  font-weight: bolder;
  padding: 5px 0px;
  margin: 0px 0px 50px 0px;
}

.productos {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.productos:hover img {
  opacity: 0.17;
}

.productos:hover h4 {
  opacity: 100%;
}

.productos:hover p {
  opacity: 100%;
}

.productos img {
  opacity: 100;
  width: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

h4 {
  background-color: black;
  padding: 3px;
  border-radius: 5px;
  opacity: 0%;
  font-weight: bolder;
  color: gainsboro;
  margin-top: 5px;
  position: absolute;
  top: 80%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.productos p {
  background-color: black;
  padding: 3px;
  border-radius: 5px;
  opacity: 0%;
  position: absolute;
  color: gainsboro;
  font-weight: bolder;
  text-align: center;
  bottom: 80%;
  font-size: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.titulo {
  font-weight: bolder;
  color: gainsboro;
  margin: 20px 0px 50px 10px;
}

.main-2 {
  margin-bottom: 70px;
}

.descripcion {
  margin: 50px 5%;
  width: 90%;
  text-align: center;
  color: gainsboro;
  font-size: 25px;
}

.carrusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* FOOTER */
footer {
  background-color: #963312;
}

footer .redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .redes img {
  width: 30px;
  margin: 5px;
}

footer .derechos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .derechos a {
  padding: 10px 5px;
  color: gainsboro;
  text-decoration: none;
  font-weight: bolder;
  margin-right: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

footer .derechos a:hover {
  text-shadow: 5px 5px 10px black;
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  color: gainsboro;
}

/* PAGINAS DEL FOOTER */
.main-secundarias h3 {
  color: gainsboro;
  font-weight: bolder;
  font-size: 25px;
  margin-bottom: 30px;
}

.main-secundarias p {
  color: gainsboro;
  margin-left: 30px;
}

.main-secundarias section {
  margin-bottom: 50px;
}

.main-secundarias .buscador {
  margin: 0px 0px 0px 30px;
}

.main-secundarias img {
  width: 25px;
}

.instagram {
  margin-bottom: 269px;
}

/* MEIDA QUERYS */
@media screen and (max-width: 450px) {
  .derechos a {
    font-size: 12px;
    padding: 5px;
  }
  .redes img {
    width: 25px;
  }
  .logo {
    height: 40px;
  }
  .descripcion {
    font-size: 20px;
    margin: 0px 5% 30px 5%;
  }
  .carrusel .col-10 {
    display: none;
  }
  .main-imagen {
    height: 300px;
  }
  .main-imagen h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 330px) {
  .productos p {
    font-size: 15px;
  }
  .productos h4 {
    font-size: 15px;
  }
}
/*# sourceMappingURL=main.css.map */