* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;}


body {
    background-color: rgb(104,32,9);}



/* HEADER */


header {
    background-color: rgb(150, 51, 18);}


.logo {
    height: 50px;
    margin-right: 20px;}


.nav-link {
    color: white;
    font-weight: bolder;
    transition: all 0.5s ease-in-out;}


.nav-link:hover {
    color: white;
    text-shadow: 5px 5px 10px black;
    transform: translateX(-2px);}



/* MAIN */


.titulo-categoria {
    color: white;
    background-color: #963312;
    text-align: center;
    font-weight: bolder;
    padding: 5px 0px;
    margin: 0px 0px 50px 0px;}


.imagen {
    width: 100%;
    transition: all 0.4s ease-in-out;}
    
    
.imagen:hover {
    width: 98%;
    margin-left: 1%;}


.productos {
    display: flex;
    flex-direction: column;
    align-items: center;
justify-content: center;}
    

.productos h4 {
    font-weight: bolder;
    color: white;
    margin-top: 5px;}
    

.productos img{
    width: 100%;
    border-radius: 5px;}

    
.titulo {
    font-weight: bolder;
    color: white;
    margin: 20px 0px 50px 10px;}
    
    
.main-2 {
    margin-bottom: 70px;}



/* FOOTER */


footer {
    background-color: rgb(150, 51, 18);}
    

.redes img {
    width: 30px;
    margin: 5px;}


.redes {
    display: flex;
    justify-content: center;}


.derechos {
    display: flex;
    justify-content: center;}


.derechos a {
    padding: 10px 5px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 5px;
    transition: all 0.5s ease-in-out;}


.derechos a:hover {
    text-shadow: 5px 5px 10px black;
    transform: translateX(-2px);}




@media screen and (max-width: 450px) {
        .derechos a {font-size: 12px; padding: 5px;}
        .redes img {width: 25px;}
        .logo {height: 40px;}}
